.imprint {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.imprint>.imprint-items {
    margin-top: 2%;
    border: 3px solid darkgray;
    border-radius: 10px;
    overflow: scroll;
    height: 800px;
}

.imprint>.imprint-items>:nth-child(1) {
    font-size: 25px;
    text-align: center;
}

.imprint>.imprint-items>:nth-child(2) {
    text-align: center;
}