/*Style index.html*/
body {
    background-image: url("../IMG/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat-y;
    height: 100%;
}
/* styling of the navbar */
.navbar {
    display: flex;
    color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: space-evenly;
}

.navbar a:link,
.navbar a:visited,
.navbar a:hover,
.navbar a:active {
    color: white;
}

.navbar>.navbar-items {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 50px;
    width: 90%;
    min-width: 630px;
    position:fixed;
}

.navbar>.navbar-items>.left {
    display: flex;
    font-size: 25px;
    margin: 25px;
    padding: 20px;
    padding-left: 20px;
    justify-content: space-evenly;
}

.logo {
    position: absolute;
}

.navbar-items a:link,
.navbar-items a:visited,
.navbar-items a:hover,
.navbar-items a:active {
    text-decoration: none;
    color: white;
}
.navbar-items a:hover {
    border-bottom: 2px solid darkgray;
}
.active {
    border-bottom: 2px solid white;
}

/* styling of the footer */
.footer {
    display: flex;
    flex: 0;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    background-color: black;
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
    border-radius: 15px;
    border-width: 12px;
    border-style: solid;
    font-family: "American Typewriter", monospace; 
}