/*Style index.html*/
body {
    background-image: url("../IMG/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* styling of the navbar */
.navbar {
    display: flex;
    background-color: black;
    border-radius: 15px;
    border-width: 12px;
    border-style: solid;
    font-family: "American Typewriter", monospace;
    justify-content: center;
}

.left { 
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15.5%;
}

.content {
    font-size: 30px;
}

.navbar a:hover {
    color: darkgray;
}

a {
    color: cornsilk;
}

/* styling of the footer */
.footer {
    display: flex;
    flex: 0;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    background-color: black;
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
    border-radius: 15px;
    border-width: 12px;
    border-style: solid;
    font-family: "American Typewriter", monospace; 
}

.contentF {
    display: flex;
    justify-content: space-around;
    width: 10%;
    color: darkgray;
}

fieldset.fahrzeugBuchen {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px 0 0 20px;
    max-width: 400px;
    border-radius: 10px;
    border-width: 0.8em;

}

.return {
    flex-wrap: wrap;
    font-family: monospace;
    font-size: 15px;
}

legend {
    color: orange;
    font-family: "fantasy";
    font-size: 18px;
}