.heading {
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 20px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 750px;
}

.mainContent>.mainContent-items {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.mainContent>.mainContent-items>.topic {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 2px solid darkgray;
    background-color: rgba(16, 9, 19, 0.4);
    border-radius: 10px;
    max-width: 70%;
    min-width: 70%;
    margin-bottom: 1.5%;
}

.mainContent>.mainContent-items>.topic>h2,
.mainContent>.mainContent-items>.topic>p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darkgray;
}

#index_body {
    background-image: url(../IMG/background_index.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    height: 100%;
}